html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  min-height: 100vh
}

p {
  text-align: justify;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: url(lover.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@media only screen and (min-width: 721px) {
  p { 
    font-size: 4px;
    line-height: 4px;
  }
}

@media only screen and (max-width: 720px) {
  p { 
    font-size: 1px;
    line-height: 1px;
  }
}
