html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  min-height: 100vh
}

p {
  font-size: 2px;
  line-height: 2px;
  text-align: justify;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: url(lover.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
